[submodule "extensions/LabeledSectionTransclusion"]
	path = extensions/LabeledSectionTransclusion
	url = https://github.com/wikimedia/mediawiki-extensions-LabeledSectionTransclusion
	branch = REL1_31
[submodule "extensions/EmbedVideo"]
	path = extensions/EmbedVideo
	url = https://github.com/HydraWiki/mediawiki-embedvideo.git
	branch = REL1_31
[submodule "extensions/RSS"]
	path = extensions/RSS
	url = https://github.com/wikimedia/mediawiki-extensions-RSS
	branch = REL1_31
[submodule "extensions/googleAnalytics"]
	path = extensions/googleAnalytics
	url = https://github.com/wikimedia/mediawiki-extensions-googleAnalytics
	branch = REL1_31
[submodule "extensions/UserSnoop"]
	path = extensions/UserSnoop
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/UserSnoop
	branch = REL1_31
[submodule "extensions/UserMerge"]
	path = extensions/UserMerge
	url = https://github.com/wikimedia/mediawiki-extensions-UserMerge
	branch = REL1_31
[submodule "extensions/ContributionScores"]
	path = extensions/ContributionScores
	url = https://github.com/wikimedia/mediawiki-extensions-ContributionScores
	branch = REL1_31
[submodule "extensions/Scribunto"]
	path = extensions/Scribunto
	url = https://github.com/wikimedia/mediawiki-extensions-Scribunto
	branch = REL1_31
[submodule "extensions/CiteThisPage"]
	path = extensions/CiteThisPage
	url = https://github.com/wikimedia/mediawiki-extensions-CiteThisPage
	branch = REL1_31
[submodule "vendor"]
	path = vendor
	url = git@github.com:wikipathways/mediawiki-vendor.git
	branch = REL1_31
[submodule "mediawiki"]
	path = mediawiki
	url = https://github.com/wikimedia/mediawiki.git
	branch = REL1_31
[submodule "extensions/BiblioPlus"]
	path = extensions/BiblioPlus
	url = https://github.com/wikimedia/mediawiki-extensions-BiblioPlus
	branch = REL1_31
[submodule "extensions/UserLoginLog"]
	path = extensions/UserLoginLog
	url = https://github.com/mwstake/mediawiki-extensions-UserLoginLog.git
[submodule "extensions/CodeEditor"]
	path = extensions/CodeEditor
	url = https://github.com/wikimedia/mediawiki-extensions-CodeEditor
[submodule "extensions/GPML"]
	path = extensions/GPML
	url = git@github.com:wikipathways/mediawiki-extensions-WikiPathways-GPML.git
[submodule "extensions/OntologyTags"]
	path = extensions/OntologyTags
	url = git@github.com:wikipathways/mediawiki-extensions-WikiPathways-OntologyTags.git
[submodule "extensions/IFrame"]
	path = extensions/IFrame
	url = https://github.com/hexmode/mediawiki-iframe.git
[submodule "extensions/GPMLConverter"]
	path = extensions/GPMLConverter
	url = git@github.com:wikipathways/mediawiki-extensions-WikiPathways-GPMLConverter.git
[submodule "extensions/WikiPathways"]
	path = extensions/WikiPathways
	url = git@github.com:wikipathways/mediawiki-extensions-WikiPathways.git
