[submodule "extensions/LabeledSectionTransclusion"]
	path = extensions/LabeledSectionTransclusion
	url = https://github.com/wikimedia/mediawiki-extensions-LabeledSectionTransclusion
	branch = REL1_29
[submodule "extensions/EmbedVideo"]
	path = extensions/EmbedVideo
	url = https://github.com/HydraWiki/mediawiki-embedvideo.git
	branch = REL1_29
[submodule "extensions/RSS"]
	path = extensions/RSS
	url = https://github.com/wikimedia/mediawiki-extensions-RSS
	branch = REL1_29
[submodule "extensions/googleAnalytics"]
	path = extensions/googleAnalytics
	url = https://github.com/wikimedia/mediawiki-extensions-googleAnalytics
	branch = REL1_29
[submodule "extensions/UserSnoop"]
	path = extensions/UserSnoop
	url = https://github.com/wikimedia/mediawiki-extensions-UserSnoop
	branch = REL1_29
[submodule "extensions/UserMerge"]
	path = extensions/UserMerge
	url = https://github.com/wikimedia/mediawiki-extensions-UserMerge
	branch = REL1_29
[submodule "extensions/ContributionScores"]
	path = extensions/ContributionScores
	url = https://github.com/wikimedia/mediawiki-extensions-ContributionScores
	branch = REL1_29
[submodule "extensions/ConfirmEdit"]
	path = extensions/ConfirmEdit
	url = https://github.com/wikimedia/mediawiki-extensions-ConfirmEdit
	branch = REL1_29
[submodule "extensions/Gadgets"]
	path = extensions/Gadgets
	url = https://github.com/wikimedia/mediawiki-extensions-Gadgets
	branch = REL1_29
[submodule "extensions/Nuke"]
	path = extensions/Nuke
	url = https://github.com/wikimedia/mediawiki-extensions-Nuke
	branch = REL1_29
[submodule "extensions/ParserFunctions"]
	path = extensions/ParserFunctions
	url = https://github.com/wikimedia/mediawiki-extensions-ParserFunctions
	branch = REL1_29
[submodule "extensions/Renameuser"]
	path = extensions/Renameuser
	url = https://github.com/wikimedia/mediawiki-extensions-Renameuser
	branch = REL1_29
[submodule "extensions/Vector"]
	path = extensions/Vector
	url = https://github.com/wikimedia/mediawiki-extensions-Vector
	branch = REL1_29
[submodule "extensions/WikiEditor"]
	path = extensions/WikiEditor
	url = https://github.com/wikimedia/mediawiki-extensions-WikiEditor
	branch = REL1_29
[submodule "extensions/Cite"]
	path = extensions/Cite
	url = https://github.com/wikimedia/mediawiki-extensions-Cite
	branch = REL1_29
[submodule "extensions/Scribunto"]
	path = extensions/Scribunto
	url = https://github.com/wikimedia/mediawiki-extensions-Scribunto
	branch = REL1_29
[submodule "extensions/ImageMap"]
	path = extensions/ImageMap
	url = https://github.com/wikimedia/mediawiki-extensions-ImageMap
	branch = REL1_29
[submodule "extensions/InputBox"]
	path = extensions/InputBox
	url = https://github.com/wikimedia/mediawiki-extensions-InputBox
	branch = REL1_29
[submodule "extensions/Interwiki"]
	path = extensions/Interwiki
	url = https://github.com/wikimedia/mediawiki-extensions-Interwiki
	branch = REL1_29
[submodule "extensions/SyntaxHighlight_GeSHi"]
	path = extensions/SyntaxHighlight_GeSHi
	url = https://github.com/wikimedia/mediawiki-extensions-SyntaxHighlight_GeSHi
	branch = REL1_29
[submodule "skins/Vector"]
	path = skins/Vector
	url = https://github.com/wikimedia/mediawiki-extensions-Vector
	branch = REL1_29
[submodule "extensions/CiteThisPage"]
	path = extensions/CiteThisPage
	url = https://github.com/wikimedia/mediawiki-extensions-CiteThisPage
	branch = REL1_29
[submodule "vendor"]
	path = vendor
	url = git@github.com:wikipathways/mediawiki-vendor.git
	branch = REL1_29
[submodule "mediawiki"]
	path = mediawiki
	url = https://github.com/wikimedia/mediawiki.git
	branch = REL1_29
[submodule "extensions/BiblioPlus"]
	path = extensions/BiblioPlus
	url = https://github.com/wikimedia/mediawiki-extensions-BiblioPlus
	branch = REL1_29
[submodule "extensions/TitleBlacklist"]
	path = extensions/TitleBlacklist
	url = https://github.com/wikimedia/mediawiki-extensions-TitleBlacklist
	branch = REL1_29
[submodule "extensions/UserLoginLog"]
	path = extensions/UserLoginLog
	url = https://github.com/mwstake/mediawiki-extensions-UserLoginLog.git
[submodule "extensions/CodeEditor"]
	path = extensions/CodeEditor
	url = https://github.com/wikimedia/mediawiki-extensions-CodeEditor
[submodule "extensions/GPML"]
	path = extensions/GPML
	url = git@github.com:wikipathways/mediawiki-extensions-WikiPathways-GPML.git
[submodule "extensions/OntologyTags"]
	path = extensions/OntologyTags
	url = git@github.com:wikipathways/mediawiki-extensions-WikiPathways-OntologyTags.git
[submodule "extensions/IFrame"]
	path = extensions/IFrame
	url = https://github.com/hexmode/mediawiki-iframe.git
[submodule "extensions/GPMLConverter"]
	path = extensions/GPMLConverter
	url = git@github.com:wikipathways/mediawiki-extensions-WikiPathways-GPMLConverter.git
[submodule "extensions/WikiPathways"]
	path = extensions/WikiPathways
	url = git@github.com:wikipathways/mediawiki-extensions-WikiPathways.git
